<h1>Transactions by <%= user.username %> </h1>
<table class="table table-bordered" style="width:90%">
    <thead>
        <tr>
            <th><a class="btn btn-primary" href="/transaction/groupByCategory" role="button">group by category</a></th>
            <th><a class="btn btn-primary" href="?sort=category" role="button">sort by category</a></th>
            <th><a class="btn btn-primary" href="?sort=amount" role="button">sort by amount</a></th>
            <th><a class="btn btn-primary" href="?sort=description" role="button">sort by description</a></th>
            <th><a class="btn btn-primary" href="?sort=date" role="button">sort by date</a></th>
        </tr>
    </thead>
</table>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>description &nbsp;</th>
            <th>amount &nbsp;</th>
            <th>category &nbsp;</th>
            <th>date &nbsp;</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach((item) => { %>
        <tr>
               <td> <%= item.description %> </td>
               <td> <%= item.amount %> </td>
               <td> <%= item.category %> </td>
               <td> <%= item.date %> </td>
               <td> <a href="/transaction/remove/<%= item._id %>"><i class="bi bi-trash"></i></a> </td>
               <td> <a href="/transaction/edit/<%= item._id %>"><i class="bi bi-pencil-square"></i></a> </td>
            </tr>
            
            <% }); %>
    </tbody>
</table>
<!-- <%= items %> -->
<!-- comments raw data out -->
<br>
<form method="post" action="transaction">
    <h1>Add a New Transaction</h1>
    <input type="text" name="description" placeholder="description">
    <br>
    <input type="text" name="category" placeholder="category">
    <br>
    <input type="number" step="any" name="amount" placeholder="amount">
    <br>
    <input type="date" name="date" placeholder="mm/dd/yyyy">
    <br>
    <input type="submit" value="store">
</form>